 <% if (typeof data !== 'undefined') { %>
        <pre class="error"><code>
          <%- data %>
        </code></pre>
        <% } else { %>
       <p class="error">
          A team of highly trained sea bass is working on this as we speak.
        </p>
      <% } %>